# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Popular languages data scientist use
* commonly used libraries by data scientists
* examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python 
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib


|Data Science Tools|
|------------------|
|VS Code|
|Jupyter Notebook|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

* 5+3
* 3-1
* 2*2
* 10/2

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
hours

3.3333333333333335

## Author 
Dylan Hurtado